@model IEnumerable<Hospital.Models.Patient>

    @{
    Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Patient Add</title>
    </head>
    <body>

        <form action="/Patient/Submit" method="post">

            <label>Patient Name</label><br />
            <input type="text" name="Name" /><br /><br />

            <label>Problem</label><br />
            <input type="text" name="Problem" /><br /><br />

            <input type="submit" value="Submit" />

        </form>

        <br /><br />

        <table border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Problem</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Problem</td>
                </tr>
            }

            </tbody>

        </table>

    </body>
</html>
